<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все цели</title>
    <style>
        body {
            background: #0f172a;
            color: #e2e8f0;
            font-family: system-ui, sans-serif;
            margin: 0;
            padding: 2rem;
            min-height: 100vh;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<h1>Все цели</h1>

<!-- ВЫПОЛНЕННЫЕ -->
<h2>Выполненные</h2>

{% if done_goals %}
<ul>
    {% for goal in done_goals %}
    <li>
    <div>{{ goal.text }}</div>

    <div class="skill">
        Навык:
        <a href="/skill/{{ goal.skill_id }}/">
            {{ goal.skill_description }}
        </a>
    </div>

    <a href="{% url 'goal_undone' goal.skill_id goal.id %}">
        ↩ Снять выполнение
    </a>
</li>
    {% endfor %}
</ul>
{% else %}
<p class="empty">Нет выполненных целей</p>
{% endif %}


<!-- НЕВЫПОЛНЕННЫЕ -->
<h2>Невыполненные</h2>

{% if not_done_goals %}
<ul>
    {% for goal in not_done_goals %}
    <li>
    <div>{{ goal.text }}</div>

    <div class="skill">
        Навык:
        <a href="/skill/{{ goal.skill_id }}/">
            {{ goal.skill_name }}
        </a>
    </div>

    <a href="{% url 'goal_done' goal.skill_id goal.id %}">
        ✔ Отметить выполненной
    </a>
</li>
    {% endfor %}
</ul>
{% else %}
<p class="empty">Нет невыполненных целей</p>
{% endif %}

</body>
</html>