<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все цели</title>
    <style>
        body {
            background: #0f172a;
            color: #e2e8f0;
            font-family: system-ui, sans-serif;
            margin: 0;
            padding: 2rem;
            min-height: 100vh;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.6;
        }
    </style>
</head>
<body>

<h1>Новая цель</h1>

<p>
    Навык:
    <strong>
        <a href="{% url 'skill_detail' skill_id %}" style="color: #38bdf8;">
            {{ skill.name }}
        </a>
    </strong>
</p>

<form method="post">
    {% csrf_token %}

    <label>
        Цель:
        <input
            type="text"
            name="text"
            required
            value="{{ text|default:'' }}">

        <br><br>

        Описание:
        <input type="text" name="Description">
    </label>

    {% if error %}
    <div style="color: red; margin-top: 6px;">
        {{ error }}
    </div>
{% endif %}

    <br><br>

    <button type="submit">Создать</button>
</form>